body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}

.penampung-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(107, 107, 107, 0.501);
    padding: 25px;
    border-radius: 30px;
    backdrop-filter: blur(5.5px);
}

.penampung-login>p {
    font-weight: 600;
    font-size: 20px;
}